.optionGroup {
    font-weight: bold;
    font-style: italic;
}

.optionChild1 {
    padding-left: 15px !important;
}

.optionChild2 {
    padding-left:  30px !important;
}

.optionChild3 {
    padding-left:  45px !important;
}

.optionChild4 {
    padding-left:  60px !important;
}